html {
	height: ~"calc(100% - 14px)";
}

body {
	height: 100%;
	margin: 0 5% 0 5%;
	background-color: #eee;
}

#vue-root {
	display: flex;
	flex-flow: column;
	height: 100%;

	&[v-cloak] {
		display: none;
	}
}

.header {
	flex: 0 0 auto;
}

.content {
	flex: 1 0 auto;
	padding: 0 30px;
	background-color: #fff;
	text-align: left;
	border: 1px solid #000;
	border-top-width: 0;
}

.footer-hash {
	text-align: center;
	font-size: 70%;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.clear {
	clear: both;
}

a.jira, button.jira {
	padding-left: 24px;
	background-image: url(/jira.png);
	background-position: 5px 6px;
	background-size: 16px;
	background-repeat: no-repeat;
}
